<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/pico/pico.min.css">
  <style>
    :root {
      --primary: #fdd835 !important;
      --primary-inverse: rgba(0, 0, 0, 0.75) !important;
    }

    .wrapper {
      max-width: 800px;
    }
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <main class="container wrapper">

    <h1>
      <%= title %>
    </h1>

    <%- body %>

      <a href="/interaction/<%= uid %>/abort" role="button" class="secondary outline" style="width: 100%;">
        Cancel
      </a>

      <% if (client.tosUri) { %>
        <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
      <% } %>
      <% if (client.policyUri) { %>
        <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
      <% } %>

  </main>
</body>

</html>
