<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/pico/pico.min.css">
  <style>
    .wrapper {
      max-width: 600px;
    }
  </style>
  <title><%= title %></title>
</head>

<body>
  <main class="container wrapper">

    <h1>
      <%= title %>
    </h1>

    <%- body %>

    <a href="/interaction/<%= uid %>/abort" role="button" class="secondary outline" style="width: 100%;">
      Cancel
    </a>

    <% if (client.tosUri) { %>
    <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
    <% } %>
    <% if (client.policyUri) { %>
    <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
    <% } %>


    <div class="grant-debug" style="margin-top: 40px;">
      <details>
        <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
        <div>
          <strong>uid</strong>: <%= uid %>
        </div>

        <% if (session) { %>
        <div>
          SESSION <br>
          ========= <br>
          <%- session %>
        </div>
        <% } %>

        <div>
          PARAMS <br>
          ======== <br>
          <%- dbg.params %>
        </div>

        <div>
          PROMPT <br>
          ======== <br>
          <%- dbg.prompt %>
        </div>
      </details>
    </div>

  </main>
</body>

</html>
